{% extends 'players/base.html.twig' %}
{% block body %}
    <div id="container">
        <div class="row mt-5  justify-content-center">
            <div class="col-lg-11 col-md-7 col-sm-11 col-9  main-charts-container row pb-3">
                <div class="col-12 text-center">
                    <h4 class="mt-1 information-charts-text">Основни характеристики</h4>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center chart-container ">
                    <div class="information-container">
                        <span class="min-chart" id="chart-sales" data-percent="15">
                            <span class="chart-text percent"></span>
                        </span>
{#                        <p>15{{ playerFat }} <i class="fa fa-percent " aria-hidden="true"></i></p>#}
                    </div>
                    <div class="fat-percent-div">
                        <h3>
                            <span class="label green badge fat-percent-badge">Подкожни мазнини</span>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12 mt-2 text-center chart-container">
                    <div class="information-container">
                        <span class="min-chart" id="chart-sales" data-percent="20">
                            <span class="chart-text overall"></span>
                        </span>
                    </div>
                    <h3>
                        <span class="label green badge ">Обща оценка</span>
                    </h3>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center  chart-container">
                    <div class="information-container">
                        <span class="min-chart" id="chart-sales" data-percent="102">
                            <span class="chart-text speed"></span>
                        </span>
{#                        <p> {{ pace }} km/h </p>#}
                    </div>
                    <div class="fat-percent-div">
                        <h3>
                            <span class="green badge fat-percent-badge  label">Скорост</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="container" class="mv-5 ">
        <div class="row mt-5 justify-content-center ">
            <div class="col-lg-11 col-md-7 col-sm-11 col-9 p-0 m-0 row justify-content-between ">
                <div class="col-lg-3 col-12 d-lg-inline-block d-md-none d-sm-none water-container p-4   text-center justify-content-center " >
                    <h5 > Дневен прием на вода</h5>
                    <img src="{{ asset("images/glass-of-water.png") }}" alt="" class="water-glass mt-5 col-12">
                    <div class="col-12 row p-3 pb-lg-2 pb-md-2 pb-sm-2 pb-2 m-auto align-items-center">
                        <button class="water-button  water-button-minus col-4 pr-1 text-right"><i class="fa fa-minus"> </i></button>
                        <h4 class="col-4 justify-content-center numOfWaterGlasses">{{ waterGlasses }}</h4>
                        <button class="water-button water-button-plus col-4 pl-1 text-left"> <i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="table-container col-lg-8 col-md-12 col-sm-12 col-12 ml-md-1 ml-sm-1 mx-0 p-0 mt-lg-0 mt-md-0 mt-sm-5 mt-5 row ">
                    <div class="table col-12  mh-25" id="teamLeadership-container ">
                        {% if hasTeam %}
                            <table class="table-bordered col-12 "  style="margin-bottom: 0; padding:0">
                                <tr class="row col-12 p-0 m-0 bg-success">
                                    <th class="col-1"></th>
                                    <th class="col-4 color-white">Име</th>
                                    <th class="col-1 color-white">ИМ</th>
                                    <th class="col-1 color-white">П</th>
                                    <th class="col-1 color-white">Р</th>
                                    <th class="col-1 color-white">З</th>
                                    <th class="col-1 color-white">ВГ</th>
                                    <th class="col-1 color-white">ДГ</th>
                                    <th class="col-1 color-white">Т</th>
                                </tr>
                                {% set rowNum = 1 %}
                                {% for team in teams %}
                                    {% if myTeam.Id == team.Id %}
                                        <tr class="teamTable row col-12 p-0 m-0 bg-gray">
                                            <th  class="col-1 justify-content-end"> {{ rowNum }}</th>
                                            <th class="col-4"> {{ team.name }}</th>
                                            <th class="col-1"> {{ team.playedGames }}</th>
                                            <th class="col-1"> {{ team.wins }}</th>
                                            <th class="col-1"> {{ team.drawsGames}}</th>
                                            <th class="col-1"> {{ team.lostGames}}</th>
                                            <th class="col-1"> {{ team.Goals}}</th>
                                            <th class="col-1"> {{ team.GoalsInTheTeamDoor}}</th>
                                            <th class="col-1">{{ team.points }}</th>
                                        </tr>
                                    {% else %}
                                        <tr class="teamTable row col-12 p-0 m-0">
                                            <th  class="col-1 justify-content-end"> {{ rowNum }}</th>
                                            <th class="col-4"> {{ team.name }}</th>
                                            <th class="col-1"> {{ team.playedGames }}</th>
                                            <th class="col-1"> {{ team.wins }}</th>
                                            <th class="col-1"> {{ team.drawsGames}}</th>
                                            <th class="col-1"> {{ team.lostGames}}</th>
                                            <th class="col-1"> {{ team.Goals}}</th>
                                            <th class="col-1"> {{ team.GoalsInTheTeamDoor}}</th>
                                            <th class="col-1">{{ team.points }}</th>
                                        </tr>
                                    {% endif %}

                                    {% set rowNum = rowNum + 1 %}
                                 {% else %}
                                     <li><em>Вие нямате отбор</em></li>
                                 {%  endfor %}
                            </table>
                        {% else %}
                            <h1>Вие нямате отбор</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container ">
        <div class="row mt-5  justify-content-center">
            <div class="col-lg-11 col-md-7 col-sm-11 col-10  div-charts row pb-3">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{  asset("mdb/js/jquery-3.3.1.min.js")}}"></script>
    <script type="text/javascript" src="{{  asset("easy-pie-chart-master/dist/jquery.easypiechart.js")}}"></script>
    <script type="text/javascript" src="{{ asset("js/playerScore.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/waterGlassesActions.js") }}"></script>
    <script type="text/javascript" src="{{ asset("mdb/js/mdb.min.js") }}"></script>

    <script>
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: [ {% for water in allWatersGlasese%}
                    "{{ water.date  }}",
                    {% endfor %}],
                datasets: [{
                    label: "Дневен прием на вода",
                    data: [ {% for water in allWatersGlasese%}
                        {{ water.WaterGlasses }},
                        {% endfor %}],
                    backgroundColor: [
                        'rgba(105, 0, 132, .2)',
                    ],
                    borderColor: [
                        'rgba(200, 99, 132, .7)',
                    ],
                    borderWidth: 2
                }
                ]
            },
            options: {
                responsive: true
            }
        });

    </script>
{% endblock %}
