
{% extends 'player/playerBaseTemplate.html.twig' %}
{% block style %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/particles/searchEngine.css") }}">
    <link rel="stylesheet" href="{{ asset("css/player/searchTeamBoxStartPageStyle.css") }}">
    <link rel="stylesheet" href="{{ asset('css/particles/tableViewStyle.css') }}">
{% endblock %}
{% block body %}


    {% if hasTeam == false %}

        <div class="col-12 text-center container searchTeamBox">
            <h4>До сега сте нямали отбор и за да продължите напреде вие треябва да си намерите отбор</h4>
            <div class="search-container full-sized-search-box mt-4">
                <div class="search-box full-sized-search-box">
                    <input type="text" placeholder="Type to search" class="search-text" id="search" >
                    <button  class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="requestsFromTeam"></div>
            <div class="teamSearchResult">
            </div>
            {% if requests|length != 0 %}
                <div class="col-11 text-center mx-auto mt-3">
                    <h2>Не може да приемате зачвките на други отбори, докато имате отбор</h2>
                </div>
                <table class=" col-12 mt-4 mx-auto "  style="margin-bottom: 0; padding:0">
                    <thead>
                        <tr class="row col-12 p-0 m-0 ">
                            <th class="col-1"></th>
                            <th class="col-4 color-white">Име</th>
                            <th class="col-4 color-white">Дата на изпращане на заявката</th>
                            <th class="col-3 color-white">Действия</th>
                        </tr>
                    </thead>
                    <tbody class="col-12 row p-0 m-0 ">
                    {% set rowNum = 1 %}
                    {% for request in requests %}
                        <tr class="teamTable row col-12 p-0 m-0 bg-gray">
                            <th  class="col-1  justify-content-end"> {{ rowNum }}</th>
                            <th class="col-4 p-0"> {{ request.receiver.name }} {{ request.receiver.fName }} </th>
                            <th class="col-4 p-0 "> {{ request.date }} </th>
                            <th class="col-3 p-0 row ">
                                <button class="btn success" onclick="RemoveRequestSendItFromTeam({{ request.id }})"><i class="fa fa-check"></i></button>
                                <button class="btn danger" onclick="RemoveRequestSendItFromTeam({{ request.id }})"><i class="fa fa-times"></i></button>
                            </th>
                        </tr>
                        {% set rowNum = rowNum + 1 %}
                    {% else %}
                        <li><em>Вие нямате отбор</em></li>
                    {%  endfor %}
                    </tbody>
            </table>
            {% else %}
                <h2 class="text-center">Нямате покани от други отбори</h2>
            {% endif %}

        </div>

            {% endif %}

    <div id="container">
        <div class="row mt-5  justify-content-center">
            <div class="col-lg-11 col-md-7 col-sm-11 col-10  main-charts-container row pb-3">
                <div class="col-12 text-center">
                    <h4 class="mt-1 information-charts-text">Основни характеристики</h4>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center chart-container ">
                    <div class="information-container">
                        <span class="min-chart" id="chart-sales" data-percent="{{ playerStats.fat }}">
                            <span class="chart-text percent"></span>
                        </span>
{#                        <p> <i class="fa fa-percent " aria-hidden="true"></i></p>#}
                    </div>
                    <div class="fat-percent-div">
                        <h3>
                            <span class="label green badge fat-percent-badge">Подкожни мазнини</span>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12 mt-2 text-center chart-container">
                    <div class="information-container">
                        <span class="min-chart" id="chart-sales" data-percent="{{ playerStats.statusFromCoaches }}">
                            <span class="chart-text overall"></span>
                        </span>
                    </div>
                    <h3>
                        <span class="label green badge ">Обща оценка</span>
                    </h3>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center  chart-container">
                    <div class="information-container">
                        <span class="min-chart" id="chart-sales" data-percent="{{ playerStats.pace }}">
                            <span class="chart-text speed"></span>
                        </span>
{#                        <p> {{ pace }} km/h </p>#}
                    </div>
                    <div class="fat-percent-div">
                        <h3>
                            <span class="green badge fat-percent-badge  label">Скорост</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="container" class="mv-5 ">
        <div class="row mt-5 justify-content-center ">
            <div class="col-lg-11 col-md-7 col-sm-11 col-10 p-0 m-0 row justify-content-between ">
                <div class="col-lg-3 col-12 d-lg-inline-block d-md-none d-sm-none water-container p-4   text-center justify-content-center " >
                    <h5 > Дневен прием на вода</h5>
                    <img src="{{ asset("images/glass-of-water.png") }}" alt="" class="water-glass mt-5 col-12">
                    <div class="col-12 row p-3 pb-lg-2 pb-md-2 pb-sm-2 pb-2 m-auto align-items-center">
                        <button class="water-button my-auto water-button-minus p-0 col-4 pr-1 text-right"><i class="fa fa-minus"> </i></button>
                        <h4 class="col-4 my-auto justify-content-center numOfWaterGlasses">{{ waterGlasses }}</h4>
                        <button class="water-button water-button-plus col-4 p-0 text-left"> <i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="table-container col-lg-8 col-md-12 col-sm-12 col-12 ml-md-1 ml-sm-1 mx-0 p-0 mt-lg-0 mt-md-0 mt-sm-5 mt-5 row ">
                    <div class="table col-12  mh-25" id="teamLeadership-container ">
                        {% if hasTeam %}
                            <table class="table-bordered col-12 "  style="margin-bottom: 0; padding:0">
                                <tr class="row col-12 p-0 m-0 bg-success">
                                    <th class="col-1"></th>
                                    <th class="col-4 color-white">Име</th>
                                    <th class="col-1 color-white">ИМ</th>
                                    <th class="col-1 color-white">П</th>
                                    <th class="col-1 color-white">Р</th>
                                    <th class="col-1 color-white">З</th>
                                    <th class="col-1 color-white">ВГ</th>
                                    <th class="col-1 color-white">ДГ</th>
                                    <th class="col-1 color-white">Т</th>
                                </tr>
                                {% set rowNum = 1 %}
                                {% for team in teams %}
                                    {% if myTeam.Id == team.Id %}
                                        <tr class="teamTable row col-12 p-0 m-0 bg-gray">
                                            <th  class="col-1 justify-content-end"> {{ rowNum }}</th>
                                            <th class="col-4"> {{ team.name }}</th>
                                            <th class="col-1"> {{ team.playedGames }}</th>
                                            <th class="col-1"> {{ team.wins }}</th>
                                            <th class="col-1"> {{ team.drawsGames}}</th>
                                            <th class="col-1"> {{ team.lostGames}}</th>
                                            <th class="col-1"> {{ team.Goals}}</th>
                                            <th class="col-1"> {{ team.GoalsInTheTeamDoor}}</th>
                                            <th class="col-1">{{ team.points }}</th>
                                        </tr>
                                    {% else %}
                                        <tr class="teamTable row col-12 p-0 m-0">
                                            <th  class="col-1 justify-content-end"> {{ rowNum }}</th>
                                            <th class="col-4"> {{ team.name }}</th>
                                            <th class="col-1"> {{ team.playedGames }}</th>
                                            <th class="col-1"> {{ team.wins }}</th>
                                            <th class="col-1"> {{ team.drawsGames}}</th>
                                            <th class="col-1"> {{ team.lostGames}}</th>
                                            <th class="col-1"> {{ team.Goals}}</th>
                                            <th class="col-1"> {{ team.GoalsInTheTeamDoor}}</th>
                                            <th class="col-1">{{ team.points }}</th>
                                        </tr>
                                    {% endif %}

                                    {% set rowNum = rowNum + 1 %}
                                 {% else %}
                                     <li><em>Вие нямате отбор</em></li>
                                 {%  endfor %}
                            </table>
                        {% else %}
                            <h1>Вие нямате отбор</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container ">
        <div class="row mt-5  justify-content-center">
            <div class="col-lg-11 col-md-7 col-sm-11 col-11  div-charts row pb-3">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
    <script  src="{{  asset("mdb/js/jquery-3.3.1.min.js")}}"></script>
    <script type="text/javascript" src="{{  asset("easy-pie-chart-master/dist/jquery.easypiechart.js")}}"></script>
    <script type="text/javascript" src="{{ asset("js/playerScore.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/waterGlassesActions.js") }}"></script>
    <script type="text/javascript" src="{{ asset("mdb/js/mdb.min.js") }}"></script>
    <script src="{{ asset("js/searchTeamEngine.js") }}"></script>
    <script src="{{ asset("js/requestFromTeamTable.js") }}"></script>
    <script src="{{ asset("js/player/acceptTeamRequest.js") }}"></script>
    <script src="{{ asset("js/player/rejectTeamRequest.js") }}"></script>
    <script src="{{ asset("js/player/particles/waterChart/waterChart.js") }}"></script>

    <script>
        var labels =  [
            {% for water in allWatersGlasese%}
                "{{ water.date  }}",
            {% endfor %}
        ];
        var data = [
            {% for water in allWatersGlasese%}
                {{ water.WaterGlasses }},
            {% endfor %}
        ];
        createChart(labels,data);

    </script>
{% endblock %}
