{% extends 'player/playerBaseTemplate.html.twig' %}
{% block style %}
   {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/particles/matchCard.css') }}">
    <link rel="stylesheet" href="{{ asset('css/player/statsPageStyle.css') }}">
{% endblock %}
{% block body%}
    <div class="container col-12 container justify-content-around mt-5 mb-5 row m-0 p-0">
        <div class="col-11  mt-2  season-player-stats  information-holder p-4 ">
            <div class="col-12 m-0 p-0  my-auto  text-center row">
                <h3 class="col-12 text-center mb-4  ">Статистика за сезона</h3>
                <div class="col-12 mt-4  justify-content-around  row">
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center  ">
                        <div class="information-container">
                            <p>{{playedMinutes}} </p>
                        </div>
                        <div class="fat-percent-div">
                            <h3>
                                <span class="green badge fat-percent-badge  label">общо изиграни минути</span>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center  chart-container">
                        <div class="information-container">
                            <p>{{(goals / playedMatches)|number_format(1)}} </p>
                        </div>
                        <div class="fat-percent-div">
                            <h3>
                                <span class="green badge fat-percent-badge  label"> коефицент на голове</span>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center  chart-container">
                        <div class="information-container">
                            <p>{{(playedMinutes / playedMatches)|number_format(1)}} </p>
                        </div>
                        <div class="fat-percent-div ">
                            <h3>
                                <span class="green badge fat-percent-badge  label"> среден коефицент на игра </span>
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 my-auto col-md-12 col-sm-12 text-center  align-content-center chart-container ">
                    <div class="information-container p-0 m-0 ">
                        <p>{{goals}}</p>
                    </div>
                    <div class="fat-percent-div">
                        <h3>
                            <span class="label green badge fat-percent-badge">Вкарани голове</span>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 my-auto col-sm-12 col-md-12 mt-2 text-center chart-container">
                    <div class="information-container">
                        <p>5</p>
                    </div>
                    <h3>
                        <span class="label green badge ">Асистенции</span>
                    </h3>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center  chart-container">
                    <div class="information-container">
                        <p>{{playedMatches}}</p>
                    </div>
                    <div class="fat-percent-div">
                        <h3>
                            <span class="green badge fat-percent-badge  label">Изиграни мача</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <hr class="col-8 mx-auto">
        <div class="col-12 container row justify-content-around mt-5">
            <h3 class="text-center col-12 mb-4">Предстоящи мачове на {{ player.Team.Name }}</h3>
            {% for match in upComingMatches %}
                <div class="col-lg-4 col-sm-12 row m-0 p-0 match-card">
                    <div class="col-lg-12  col-sm-9 col-md-6 text-center mt-3 mx-auto row">
                        <a href="{{ path("createMatchList", {"id" :match.id}) }}" class="m-0 row col-12">
                            <div class="col-6">
                                <img src="{{asset("images/" ~ match.homeTeam.Image)  }}" alt="">
                                <h5>{{ match.homeTeam.Name }}</h5>
                            </div>
                            <div class="col-6">
                                <img src="{{asset("images/" ~ match.awayTeam.Image)  }}" alt="" class="" >
                                <h5>{{ match.awayTeam.Name }}</h5>
                            </div>
                            <div class="col-12 justify-content-center mt-2 mb-1">
                                <h5 class="information">{{ match.date }} {{ match.time }}</h5>
                            </div>

                        </a>
                    </div>
                </div>
            {% else  %}
                <h4><i>Нямате предсточщи мачове</i></h4>
            {% endfor %}
        </div>
        <hr class="col-8 mt-4 mb-3">
        <div class="col-12 container row justify-content-around">
            <h3 class="text-center col-12 mb-4">Мачове, които сте в групата</h3>
            {% for matchList in player.MatchList %}
                {% if matchList.match.date > "now"| date("yy-m-d") %}
                    <div class="col-lg-4 col-sm-12 row m-0 p-0 match-card">
                        <div class="col-lg-12  col-sm-9 col-md-6 text-center mt-3 mx-auto row">
                            <a href="{{ path("createMatchList", {"id" : matchList.match.id}) }}" class="m-0 row col-12">
                                <div class="col-6">
                                    <img src="{{asset("images/" ~ matchList.match.homeTeam.Image)  }}" alt="">
                                    <h5>{{ matchList.match.homeTeam.Name }}</h5>
                                </div>
                                <div class="col-6">
                                    <img src="{{asset("images/" ~ matchList.match.awayTeam.Image)  }}" alt="" class="" >
                                    <h5>{{ matchList.match.awayTeam.Name }}</h5>
                                </div>
                                <div class="col-12 justify-content-center mt-2 mb-1">
                                    <h5 class="information">{{ matchList.match.date }} {{ matchList.match.time }}</h5>
                                </div>

                            </a>
                        </div>
                    </div>
                {% endif %}
            {% else  %}
                <h4><i>Нямате мачове, които се в групата</i></h4>
            {% endfor %}
        </div>
        <hr class="col-8 mb-3">
        <div class="col-12 container row justify-content-around">
            <h3 class="text-center col-12 mb-4">Изиграни от вас мачове</h3>
           <div class="col-12 justify-content-center row ">
            {% set playerMatcheCount = 0 %}
               {% for matchList in player.MatchList %}
                   {% if matchList.match.date < "now"| date("yy-m-d") and playerMatcheCount < 3 %}
                       {% set match = matchList.match %}
                       {% if match.MatchStats != null%}
                           <div class="col-lg-4 col-sm-12 row m-0 p-0 match-card ">
                               <div class="col-lg-12  col-sm-9 col-md-6 text-center mt-3 mx-auto row ">
                                   <a href="{{ path("playerPastMatchView", {"id" : match.id}) }}" class="m-0 row col-12 justify-content-center">
                                       <div class="col-7 justify-content-center row">
                                           <img src="{{asset("images/" ~ match.homeTeam.Image)  }}" alt="">
                                           <h5 class="col-12 text-center">{{ match.homeTeam.Name }}</h5>
                                           <h5 class="align-text-bottom p-0 m-0">{{ match.MatchStats.HomeTeamGoals}}</h5>
                                       </div>
                                       <div class="col-7 justify-content-center row">
                                           <img src="{{asset("images/" ~ match.awayTeam.Image)  }}" alt="" class="" >
                                           <h5 class="col-12">{{ match.awayTeam.Name }}</h5>
                                           <h5 class="col-12 align-text-bottom p-0 m-0">{{ match.MatchStats.AwayTeamGoals}}</h5>
                                       </div>
                                       <div class="col-12 justify-content-center mt-2 mb-1">
                                           <h5 class="information">{{ match.date }} {{ match.time }}</h5>
                                       </div>
                                   </a>
                                   {#                        <span><i class="fas fa-times country-fa-times" id="{{ team.Id }}"></i></span>#}
                               </div>
                           </div>
                       {% else  %}
                           <div class="col-lg-4 col-sm-12 row m-0 p-0 match-card ">
                               <div class="col-lg-12  col-sm-9 col-md-6 text-center mt-3 mx-auto row ">
                                   <a href="" class="m-0 row col-12 justify-content-center">
                                       <div class="col-7 justify-content-center row">
                                           <img src="{{asset("images/" ~ match.homeTeam.Image)  }}" alt="">
                                           <h5 class="col-12 text-center">{{ match.homeTeam.Name }}</h5>
                                           <h5 class="align-text-bottom p-0 m-0">Няма данни</h5>
                                       </div>
                                       <div class="col-7 justify-content-center row">
                                           <img src="{{asset("images/" ~ match.awayTeam.Image)  }}" alt="" class="" >
                                           <h5 class="col-12">{{ match.awayTeam.Name }}</h5>
                                           <h5 class="col-12 align-text-bottom p-0 m-0">Няма данни</h5>
                                       </div>
                                       <div class="col-12 justify-content-center mt-2 mb-1">
                                           <h5 class="information">{{ match.date }} {{ match.time }}</h5>
                                       </div>

                                   </a>
                                   {#                        <span><i class="fas fa-times country-fa-times" id="{{ team.Id }}"></i></span>#}
                               </div>
                           </div>
                       {% endif %}
                       {% set playerMatcheCount = playerMatcheCount + 1 %}
                   {% endif %}
               {% else  %}
                   <h4><i>Нямате мачове, които се в групата</i></h4>
               {% endfor %}

           </div>
            <button class="btn btn-success mt-3">Вижте всички мачове</button>
        </div>


        <hr class="col-8 mb-3">

        <div class="season-player-stats col-11">
            <h3 class="col-11  mt-5 text-center">Статиситики от треньора</h3>
                <div class="col-11 mx-auto mt-3 pt-3">
                    <div class="col-12 justify-content-around summarizing-results">
                      <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.statusFromCoaches  }}">
                            <span class="chart-text percent"></span>
                      </span>
                        <h4 class="text-center mt-2">Обобщен резултат</h4>
                    </div>
                </div>
                <div class="container col-12 mx-auto p-0 m-0 row mt-5">
                    <div class="col-12 m-0 p-0 row justify-content-around">
                        <div class="col-2">
                            <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.pace *10}}">
                                <span class="chart-text percent"></span>
                            </span>
                            <h5 class="text-center mt-2">Скорост</h5>
                        </div>
                        <div class="col-2">
                              <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.technique * 10 }}">
                                    <span class="chart-text percent"></span>
                              </span>
                              <h5 class="text-center mt-2">Техника</h5>
                        </div>
                        <div class="col-2">
                              <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.shot * 10}}">
                                    <span class="chart-text percent"></span>
                             </span>
                             <h5 class="text-center mt-2">Удар</h5>
                        </div>
                        <div class="col-2">
                              <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.dribble * 10}}">
                                    <span class="chart-text percent"></span>
                              </span>
                             <h5 class="text-center mt-2">Дрибъл</h5>
                        </div>
                        <div class="col-2">
                              <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.tacticks * 10}}">
                                    <span class="chart-text percent"></span>
                              </span>
                             <h5 class="text-center mt-2">Тактика</h5>
                        </div>
                    </div>
                </div>
                <div class="container col-12 mx-auto p-0 m-0 row mt-5">
                    <div class="col-12 m-0 p-0 row justify-content-around">
                        <div class="col-2">
                              <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.pass }}">
                                    <span class="chart-text percent"></span>
                              </span>
                             <h5 class="text-center mt-2">Пас</h5>
                        </div>
                        <div class="col-2">
                             <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.longPass * 10}}">
                                    <span class="chart-text percent"></span>
                              </span>
                                <h5 class="text-center mt-2">Дълъг пас</h5>
                        </div>
                        <div class="col-2">
                              <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.relax * 10}}">
                                    <span class="chart-text percent"></span>
                              </span>
                              <h5 class="text-center mt-2">Спокойствие на терена</h5>
                        </div>
                        <div class="col-2">
                              <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.willpower * 10}}">
                                    <span class="chart-text percent"></span>
                              </span>
                              <h5 class="text-center mt-2">Воля</h5>
                        </div>
                        <div class="col-2">
                              <span class="min-chart" id="chart-sales" data-percent="{{ player.stats.perspective * 10}}">
                                    <span class="chart-text percent"></span>
                              </span>
                              <h5 class="text-center mt-2">Перспектива</h5>
                        </div>
                    </div>
            </div>
        </div>
    </div>



    <hr class="col-8 mx-auto">
    <h3 class="col-12 mt-3 text-center">Класиране до момента</h3>
    <div class="col-12 justify-content-around mb-2">
        <img src="{{ asset("images/"~player.Team.Division.Image) }}" alt="" class="justify-content-center col-4 text-center division-image">
        <h3 class="mx-auto text-center">{{ player.Team.Division.name}}</h3>
    </div>

    <div class="table-container col-lg-10 col-md-12 col-sm-12 col-12 ml-md-1 ml-sm-1 mx-0 p-0 mt-lg-0 mt-md-0 mt-sm-5 mt-5 row ">
        <div class="table col-12 mx-auto   mh-25" id="teamLeadership-container ">
            {% if player.Team != null %}
                <table class="table-bordered col-12 "  style="margin-bottom: 0; padding:0">
                    <tr class="row col-12 p-0 m-0 bg-success">
                        <th class="col-1"></th>
                        <th class="col-4 color-white">Име</th>
                        <th class="col-1 color-white">ИМ</th>
                        <th class="col-1 color-white">П</th>
                        <th class="col-1 color-white">Р</th>
                        <th class="col-1 color-white">З</th>
                        <th class="col-1 color-white">ВГ</th>
                        <th class="col-1 color-white">ДГ</th>
                        <th class="col-1 color-white">Т</th>
                    </tr>
                    {% set rowNum = 1 %}
                    {% for team in teams %}
                        {% if player.Team.Id == team.Id %}
                            <tr class="teamTable row col-12 p-0 m-0 bg-gray">
                                <th  class="col-1 justify-content-end"> {{ rowNum }}</th>
                                <th class="col-4"> {{ team.name }}</th>
                                <th class="col-1"> {{ team.playedGames }}</th>
                                <th class="col-1"> {{ team.wins }}</th>
                                <th class="col-1"> {{ team.drawsGames}}</th>
                                <th class="col-1"> {{ team.lostGames}}</th>
                                <th class="col-1"> {{ team.Goals}}</th>
                                <th class="col-1"> {{ team.GoalsInTheTeamDoor}}</th>
                                <th class="col-1">{{ team.points }}</th>
                            </tr>
                        {% else %}
                            <tr class="teamTable row col-12 p-0 m-0">
                                <th  class="col-1 justify-content-end"> {{ rowNum }}</th>
                                <th class="col-4"> {{ team.name }}</th>
                                <th class="col-1"> {{ team.playedGames }}</th>
                                <th class="col-1"> {{ team.wins }}</th>
                                <th class="col-1"> {{ team.drawsGames}}</th>
                                <th class="col-1"> {{ team.lostGames}}</th>
                                <th class="col-1"> {{ team.Goals}}</th>
                                <th class="col-1"> {{ team.GoalsInTheTeamDoor}}</th>
                                <th class="col-1">{{ team.points }}</th>
                            </tr>
                        {% endif %}

                        {% set rowNum = rowNum + 1 %}
                    {% else %}
                        <li><em>Вие нямате отбор</em></li>
                    {%  endfor %}
                </table>
            {% else %}
                <h1>Вие нямате отбор</h1>
            {% endif %}
        </div>
    </div>

    <hr class="col-8 mx-auto">



{% endblock %}