<html>

<head>
    <title>Log in - Hermes</title>
    <link rel="stylesheet" href=" {{ asset("css/loginPage.css") }}">
    <link rel="stylesheet" href=" {{ asset("css/typography.css") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>
<div class="image-holder">
    <img src="{{ asset("images/HERMES-ICON.jpg") }}" alt="">
</div>
    <form method="post" class="container col-lg-4 col-md-6 col-sm-9 form">
{#        {% if error %}#}
{#            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#            <p>{{ app.user }}</p>#}
{#        {% endif %}#}

{#        {% if app.user %}#}
{#            <div class="mb-3">#}
{#                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#            </div>#}
{#        {% endif %}#}

{#        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}

        <div class="container text-center " >
            <div class="input-group mb-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" placeholder="ivan123@gmail.com" name="email" id="inputEmail" class=" effect-2" required autofocus>
                <span class="focus-border"></span>
            </div>
            <div class="input-group mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" placeholder="********" name="password" id="inputPassword" class=" effect-2" required>
                <span class="focus-border"></span>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >


    {#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
    {#        See https://symfony.com/doc/current/security/remember_me.html#}

{#            <div class="checkbox mb-3">#}
{#                <label>#}
{#                    <input type="checkbox" name="_remember_me"> Remember me#}
{#                </label>#}
{#            </div>#}
        </div>
        <div class="col-6 mx-auto mt-5">
            <button class="btn  color-white col-12 btn-submit" type="submit" >
                Влез
            </button>
        </div>
    </form>
</body>

</html>

