{% extends 'admin/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="  {{ asset("css/particles/hiddenFormStyle.css") }}">
    <link rel="stylesheet" href="{{ asset("css/particles/searchEngine.css") }}">
    <link rel="stylesheet" href="  {{ asset("css/coach/trainingPageStyle.css") }}">
    <link rel="stylesheet" href="  {{ asset("css/particles/searchResultsTable.css") }}">
    <link rel="stylesheet" href="  {{ asset("css/admin/squerePlayerCardStyle.css") }}">
    <link rel="stylesheet" href="  {{ asset("css/admin/menTeamStyle.css") }}">
    <link rel="stylesheet" href="  {{ asset("css/superAdmin/hiddenOptionMenu.css") }}">
{% endblock %}
 {% block nav %}
     <a class="nav-item nav-link ml-2" href="{{ path("adminHomeAction") }}">Начална страница </a>
     <a class="nav-item nav-link ml-2 current-item" href="{{ path("manTeam") }}">Мъжки отбор</a>
     <a class="nav-item nav-link ml-2 " href="{{ path("youthTeams") }}">Юнушестки отбори</a>
     <a class="nav-item nav-link ml-2 " href="{{ path("youthTeams") }}">Програма</a>
 {% endblock  %}
{%  block body %}
    <div id="container ">
        <div class="row mt-5  justify-content-center">
            <div class="col-lg-11 col-md-10 col-sm-11 col-10 justify-content-around div-charts row pb-3">
                <div class="col-12 text-center">
                    <h2 >Играчи</h2>
                </div>
                {% set foo = 1 %}
                {% for player in players %}
                    {% if player.position == "Goalkeeper" %}
                        <div class=" col-6 col-lg-3 col-sm-6 col-md-4 mt-4 justify-content-center row mb-sm-2">
                            <div class="col-12 ad-player-container" id="player-{{  foo }} ">
                                <a href="{{ path("adminPlayerStatsView", {id: player.id}) }}">
                                    {%   if  player.Status == 0 %}
                                        <div class="status-green"></div>
                                    {% else %}
                                        <div class="status-red"></div>
                                    {%  endif %}

                                    {% if player.Image == null or player.Image == ' ' %}
                                        <img src="{{asset('images/user-image.png')}}" alt="" class="player-img">
                                    {% else %}
                                        <img src="{{asset('images/'~ player.Image )}}" alt="" class="player-img">
                                    {% endif %}

                                    <span><i class="fas fa-times country-fa-times players" id="{{ player.Id }}"></i></span>
                                    <p class="ad-player-name">{{ player.User.Name }} {{ player.User.FName }} </p>
                                    <p class="ad-player-position">{{ player.Position.Name }}</p>
                             </a>
                            </div>
                        </div>
                    {% endif %}
                    {% set foo = foo + 1 %}
                {% endfor %}
                {% for player in players %}
                    {% if player.position == "Defender" %}
                        <div class="col-6 col-lg-3 col-sm-6 col-md-4 mt-4 justify-content-center row mb-sm-2">
                            <div class="col-12 ad-player-container" id="player-{{  foo }} ">
                                <a href="{{ path("adminPlayerStatsView", {id: player.id}) }}">
                                    {%   if  player.Status == 0 %}
                                        <div class="status-green"></div>
                                    {% else %}
                                        <div class="status-red"></div>
                                    {%  endif %}

                                    {% if player.Image == null or player.Image == ' ' %}
                                        <img src="{{asset('images/user-image.png')}}" alt="" class="player-img">
                                    {% else %}
                                        <img src="{{asset('images/'~ player.Image )}}" alt="" class="player-img">
                                    {% endif %}

                                    <span><i class="fas fa-times country-fa-times players" id="{{ player.Id }}"></i></span>
                                    <p class="ad-player-name">{{ player.User.Name }} {{ player.User.FName }} </p>
                                    <p class="ad-player-position">{{ player.Position.Name }}</p>
                             </a>
                            </div>
                        </div>
                    {% endif %}
                    {% set foo = foo + 1 %}
                {% endfor %}
                {% for player in players %}
                    {% if player.position == "Midfielder" %}
                        <div class="col-6 col-lg-3 col-sm-6 col-md-4 mt-4 justify-content-center row mb-sm-2">
                            <div class="col-12 ad-player-container" id="player-{{  foo }} ">
                                <a href="{{ path("adminPlayerStatsView", {id: player.id}) }}">
                                    {%   if  player.Status == 0 %}
                                        <div class="status-green"></div>
                                    {% else %}
                                        <div class="status-red"></div>
                                    {%  endif %}

                                    {% if player.Image == null or player.Image == ' ' %}
                                        <img src="{{asset('images/user-image.png')}}" alt="" class="player-img">
                                    {% else %}
                                        <img src="{{asset('images/'~ player.Image )}}" alt="" class="player-img">
                                    {% endif %}

                                    <span><i class="fas fa-times country-fa-times players" id="{{ player.Id }}"></i></span>
                                    <p class="ad-player-name">{{ player.User.Name }} {{ player.User.FName }} </p>
                                    <p class="ad-player-position">{{ player.Position.Name }}</p>
                             </a>
                            </div>
                        </div>
                    {% endif %}
                    {% set foo = foo + 1 %}
                {% endfor %}
                {% for player in players %}
                    {% if player.position == "Attacker" %}
                        <div class="col-6 col-lg-3 col-sm-6 col-md-4 mt-4 justify-content-center row mb-sm-2">
                            <div class="col-12 ad-player-container" id="player-{{  foo }} ">
                                <a href="{{ path("adminPlayerStatsView", {id: player.id}) }}">
                                    {%   if  player.Status == 0 %}
                                        <div class="status-green"></div>
                                    {% else %}
                                        <div class="status-red"></div>
                                    {%  endif %}

                                    {% if player.Image == null or player.Image == ' ' %}
                                        <img src="{{asset('images/user-image.png')}}" alt="" class="player-img">
                                    {% else %}
                                        <img src="{{asset('images/'~ player.Image )}}" alt="" class="player-img">
                                    {% endif %}

                                    <span><i class="fas fa-times country-fa-times players" id="{{ player.Id }}"></i></span>
                                    <p class="ad-player-name">{{ player.User.Name }} {{ player.User.FName }} </p>
                                    <p class="ad-player-position">{{ player.Position.Name }}</p>
                             </a>
                            </div>
                        </div>
                    {% endif %}
                    {% set foo = foo + 1 %}
                {% endfor %}

            </div>
        </div>
    </div>

    <div id="container ">
        <div class="row mt-5  justify-content-center">
            <div class="col-lg-11 col-md-7 col-sm-11 col-10 justify-content-center div-charts row pb-3">
                <div class="col-12 text-center">
                    <h2 >Треньори</h2>
                </div>
                {% set foo = 1 %}
                {% for coache in coaches%}
                    <div class=" col-lg-3 col-sm-12 col-md-12 justify-content-center player_portfolio row ">
                        <div class="col-12  ad-player-container " id="player-{{  foo }} ">
                            {% if coache.Image == null or coache.Image == ' ' %}
                                <img src="{{asset('images/user1-white2.png')}}" alt="" class="player_img">
                            {% else %}
                                <img src="{{asset('images/'~ coache.Image )}}" alt="" class="player_img">
                            {% endif %}
                            <p class="player_name">{{ coache.User.Name }} </p>
                            <span><i class="fas fa-times country-fa-times coaches" id="{{ coache.Id }}"></i></span>
                        </div>
                    </div>
                    {% set foo = foo + 1 %}
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="team-status-container row justify-content-center align-items-center">
        <div class="col-9  team-status-div row align-items-center justify-content-center" id="add-player" >
            <div class="col-8 row justify-content-center">
                <h3 class="mb-3 col-12 text-center">Искате ли да изтриете записа:</h3>
                <button class="btn bg-danger" id="no">Не</button>
                <button class="btn btn-green" id="yes">Да</button>
            </div>
            <span><i class="fas fa-times-circle color-black "></i></span>
        </div>
    </div>

    <div class="player-status-container row justify-content-center ">
        <div class="col-9  player-status-div   justify-content-center" id="add-player" >
            <div class="container col-12 row justify-content-center search-container-holder">
                <div class="search-container mt-3  justify-content-center">
                    <div class="search-box full-sized-search-box">
                        <input type="text" placeholder="Ивайло Колев" class="search-text" id="search">
                        <button  class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container col-12 p-0 mx-auto row">
                <div class="playerSearchResult col-12 p-0  ">
                </div>
            </div>
            <span><i class="fas fa-times-circle"></i></span>
        </div>
    </div>
    <div class="coach-status-container row justify-content-center ">
        <div class="col-9 coach-status-div row justify-content-center" id="add-coach" >
            <div class="container col-12 row justify-content-center search-container-holder">
                <div class="search-container mt-3  justify-content-center">
                    <div class="search-box full-sized-search-box">
                        <input type="text" placeholder="Ивайло Колев" class="search-text" id="search">
                        <button  class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container col-12 p-0 mx-auto row">
                <div class="playerSearchResult col-12 p-0  ">
                </div>
            </div>
            <span><i class="fas fa-times-circle"></i></span>
        </div>
    </div>


    <div class="team-futures-holder">
        <div class="add-circle-container  row " id="add-container">
            <div class="add-circle " id="player- ">
                <img src="{{ asset('images/plus .png') }}" alt="" class="add-circle-default " >
            </div>
        </div>
    </div>

    <div class="option-hidden-menu">
        <div class="options">

            <button type="button" name="button" class="add-player-button">
                <p class="my-auto">Добавяне на играч</p>
            </button>
            <button type="button" class="add-coach-button" name="button">
                <p class="my-auto">Добавяне на треньор</p>
            </button>
            <button type="button" name="button" class="close-menu-btn">
                <p class="my-auto">Затваряне</p>
            </button>
        </div>
    </div>

    <script type="text/javascript" src="{{  asset("js/admin/searchPlayer.js")}}"></script>
    <script type="text/javascript" src="{{  asset("js/admin/menTeam.js")}}"></script>

{% endblock %}