{% extends 'admin/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/particles/tableViewStyle.css') }}">
{% endblock %}
 {% block nav %}
     <a class="nav-item nav-link ml-2" href="{{ path("adminHomeAction") }}">Начална страница </a>
     <a class="nav-item nav-link ml-2 " href="{{ path("manTeam") }}">Мъжки отбор</a>
     <a class="nav-item nav-link current-item ml-2 " href="{{ path("requestView") }}">Заявки</a>
     <a class="nav-item nav-link ml-2 " href="{{ path("divisionView") }}">Лига</a>
 {% endblock  %}

{% block body  %}
    <div class="col-12 text-center mt-3 mb-2">
        <h2>Заявки изпратени от отбора </h2>
    </div>
    <table class=" col-11 mt-4 mx-auto "  style="margin-bottom: 0; padding:0">
       <thead>
           <tr class="row col-12 p-0 m-0 ">
               <th class="col-1"></th>
               <th class="col-4 color-white">Име</th>
               <th class="col-4 color-white">Дата на изпращане на заявката</th>
               <th class="col-3 color-white">Действия</th>
           </tr>
       </thead>
        {% set rowNum = 1 %}
        {% for request in fromTeamRequests %}
                <tr class="teamTable row col-12 p-0 m-0 bg-gray">
                    <th  class="col-1  justify-content-end"> {{ rowNum }}</th>
                    <th class="col-4 p-0"> {{ request.receiver.name }} {{ request.receiver.fName }} </th>
                    <th class="col-4 p-0 "> {{ request.date }} </th>
                    <th class="col-3 p-0 row justify-content-center">
                        <button class="btn btn-danger" onclick="RemoveRequestSendItFromTeam({{ request.id }})"><i class="fa fa-times"></i></button>
                    </th>
                </tr>
            {% set rowNum = rowNum + 1 %}
        {% else %}
            <li><em>Вие нямате отбор</em></li>
        {%  endfor %}
    </table>

    <hr>

    <div class="col-12 text-center mt-3 mb-2">
        <h2>Заявки изпратени от играчи </h2>
    </div>
    <table class=" col-11 mt-4 mx-auto "  style="margin-bottom: 0; padding:0">
      <thead>
          <tr class="row col-12 p-0 m-0 ">
              <th class="col-1"></th>
              <th class="col-4 color-white">Име</th>
              <th class="col-4 color-white">Дата на изпращане на заявката</th>
              <th class="col-3 color-white">Действия</th>
          </tr>
      </thead>
        {% set rowNum = 1 %}
        {% for request in toTeamRequests %}
            <tr class="teamTable row col-12 p-0 m-0 bg-gray">
                <th  class="col-1 justify-content-end"> {{ rowNum }}</th>
                <th class="col-4 p-0 "> {{ request.receiver.name }} {{ request.receiver.fName }} </th>
                <th class="col-4 p-0 "> {{ request.date }} </th>
                <th class="col-3 row p-0 justify-content-center">
                    <button class="btn btn-success" onclick="AcceptRequestFromPlayer({{ request.id }})"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger" onclick="RemoveRequestFromPlayer"><i class="fa fa-times"></i></button>
                </th>
            </tr>
            {% set rowNum = rowNum + 1 %}
        {% else %}
            <li><em>Вие нямате отбор</em></li>
        {%  endfor %}
    </table>

    <hr>

    <div class="col-12 text-center mt-3 mb-2">
        <h2>Заявки изпратени от отбора до треньори </h2>
    </div>
    <table class="col-11 mt-4 mx-auto "  style="margin-bottom: 0; padding:0">
       <thead>
       <tr class="row col-12 p-0 m-0 ">
           <th class="col-1"></th>
           <th class="col-4 color-white">Име</th>
           <th class="col-4 color-white">Дата на изпращане на заявката</th>
           <th class="col-3 color-white">Действия</th>
       </tr>
       </thead>
        {% set rowNum = 1 %}
        {% for request in fromTeamCoachRequests %}
            <tr class="teamTable row col-12 p-0 m-0 bg-gray">
                <th  class="col-1 justify-content-end"> {{ rowNum }}</th>
                <th class="col-4 p-0"> {{ request.receiver.name }} {{ request.receiver.fName }} </th>
                <th class="col-4 p-0 "> {{ request.date }} </th>
                <th class="col-3 p-0 row justify-content-center">
                    <button class="btn btn-danger" onclick="RemoveRequesSendItToCoach({{ request.id }})"><i class="fa fa-times"></i></button>
                </th>
            </tr>
            {% set rowNum = rowNum + 1 %}
        {% else %}
            <li><em>Вие нямате отбор</em></li>
        {%  endfor %}
    </table>

    <hr>

    <div class="col-12 text-center mt-3 mb-2">
        <h2>Заявки изпратени от треньори до отбора </h2>
    </div>
    <table class="col-11 mt-4 mx-auto "  style="margin-bottom: 0; padding:0">
       <thead>
           <tr class="row col-12 p-0 m-0">
               <th class="col-1"></th>
               <th class="col-4 color-white">Име</th>
               <th class="col-4 color-white">Дата на изпращане на заявката</th>
               <th class="col-3 color-white">Действия</th>
           </tr>
       </thead>
        {% set rowNum = 1 %}
        {% for request in toTeamCoachRequests %}
            <tr class="teamTable row col-12 p-0 m-0 bg-gray">
                <th  class="col-1 justify-content-end"> {{ rowNum }}</th>
                <th class="col-4 p-0 "> {{ request.receiver.name }} {{ request.receiver.fName }} </th>
                <th class="col-4 p-0 "> {{ request.date }} </th>
                <th class="col-3 p-0 row justify-content-center">
                    <button class="btn btn-danger" onclick="AcceptRequestFromCoach({{ request.id }})"><i class="fa fa-times"></i></button>
                    <button class="btn btn-danger" onclick="RemoveRequestFromCoach({{ request.id }})"><i class="fa fa-times"></i></button>
                </th>
            </tr>
            {% set rowNum = rowNum + 1 %}
        {% else %}
            <th class="col-12 text-center"><em>Няма заявки </em></th>
        {%  endfor %}
    </table>

    <script>

    </script>

{% endblock %}