{% extends 'coaches/base.html.twig' %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="  {{ asset("css/trainingTemplate.css") }}">
    <meta charset="utf-8">
    <title>FM-Football Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{ asset('css/calendar.css')}}">
    <link rel="stylesheet" href="{{ asset("css/particles/searchEngine.css") }}">
    <link rel="stylesheet" href="{{ asset('css/coach/training/style.css')}}">
    <script type="text/javascript" src="{{  asset("mdb/js/jquery-3.3.1.min.js")}}"></script>
    <script type="text/javascript" src="{{ asset("js/trainingCalendar.php") }}"></script>
    <script type="text/javascript" src="{{ asset("mdb/js/mdb.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("mdb/js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/settingsMenu.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/coach/training/searchExercises.js") }}"></script>
    <script src="{{ asset("js/coach/training/tabs.js") }}"></script>

{% endblock %}
{% block navLinks %}
    <a class="ml-2 na navbar-link " href="{{ path("trainingView") }}">Начална страница</a>
    <a class="ml-2 na navbar-link " href="{{ path("trainingView") }}">Отбор</a>
    <a class="ml-2 na navbar-link current-item" href="{{ path("trainingCalendarActionView") }}">Тренировъчен план</a>
    <a class="ml-2 na navbar-link" href="{{ path("coachMatches") }}">Мачове</a>
    <a class="ml-2 na navbar-link" href="{{ path("allRequestsView") }}">Заявки</a>
{% endblock %}
{% block body %}

    <div class="col-12 text-center mx-auto mt-3"><h1>Тренировъчен календар</h1> </div>
    <div class="container">
        <div class="row">
            <div class="calendar col-12 mt-4">
                <div>
                    <div class="card-header">
                        <ul>
                            <li id="month" class="text-white text-uppercase text-center">
                            </li>
                            <li id="year" class="text-white text-uppercase text-center">
                            </li>
                        </ul>
                    </div>
                    <table class="table calendar table-bordered  "  id="calendar">
                        <thead>
                        <tr class="weekdays bg-dark">
                            <th scope="col" class="text-white text-center">Пон</th>
                            <th scope="col" class="text-white text-center">Вто</th>
                            <th scope="col" class="text-white text-center">Сря</th>
                            <th scope="col" class="text-white text-center">Чет</th>
                            <th scope="col" class="text-white text-center">Пет</th>
                            <th scope="col" class="text-white text-center">Съб</th>
                            <th scope="col" class="text-white text-center">Нед</th>
                        </tr>
                        </thead>
                        <tbody class="days bg-light" id="days"></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>

        <br><hr>

    </div>


    <div class="col-12 row container p-0 m-0 container-color pt-5">
        <div class="col-11 pb-5 mx-auto row">
            <div class="tab col-12 mx-auto p-0 row">
                    <button class="tablinks col-6 createTraining  "onclick="openTab(event, 'createTraining')">Създаване на трениривка</button>
                <button class="tablinks col-6 viewTraining"  onclick="openTab(event, 'viewTraining')">Гледане на тренировка</button>
            </div>

            <div id="createTraining" class="tabcontent col-12 ">
                <div class="row mx-auto">
                    <div class="col-md offset-md-0">
                        <form id="form_create_appointment">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label class="required">Дата</label>
                                    <input class="form-control date-input" placeholder="dd/mm/yyyy" type="text" id="date" data-trigger="hover" data-toggle="popover" name="_date" title="Дата" data-content="Можете да изберете всяка дата от днес, като кликнете върху номера в календара" required>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label class="required">В колко започва събитието</label>
                                    <input class="form-control time-input" placeholder="00:00" type="text" id="start_time" required>
                                </div>
                                <div class="col form-group">
                                    <label class="required">В колко свършва събитието</label>
                                    <input class="form-control time-input" type="text" placeholder="01:00" id="end_time" required>
                                </div>
                            </div>
                        </form>
                            <div class="shoesType">
                                Тип бутонки:
                                {% for shoesType in shoesTypes %}
                                    <button class="btn"> {{ shoesType.Type }}</button>
                                {% endfor %}
                            </div>
                            <div class="trainingType">
                                Тип тренирова:
                                {% for trainingType in trainingTypes %}
                                    <button class="btn"> {{ trainingType.type }}</button>
                                {% endfor %}
                            </div>
                            <div class="search-container full-sized-search-box mt-4">
                                <div class="search-box full-sized-search-box">
                                    <input type="text" placeholder="Загрявка..." class="search-text" id="search" >
                                    <button  class="search-button" onclick="">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="exercises-container ">
                                <div class="exercises-description-text"><h5>Упражнениея: </h5></div>
                                <div class="exercises">
                                    <div class="exercise" href="#information" data-trigger="hover" data-toggle="popover" title="Слабо натоварване" data-content="Движене на ръцете в кръг"><h5>Загрявка <i class="fa fa-times" aria-hidden="true"  onclick="removeExercise(this)"></i></h5>
                                    </div>
                                    <div class="exercise"><h5>Загрявка <i class="fa fa-times" aria-hidden="true" onclick="removeExercise(this)"></i></h5></div>
                                </div>
                            </div>
                            <div class="exercises-search-results">
                                <div class="exercise" >
                                    <h5 class="title">Title</h5><h5 class="description">  Description  </h5><h5 class="intensityType">Intensity</h5>
                                    <button class="add-exercise"> <i class="fa fa-plus" aria-hidden="true"></i></button>
                                    <button class="remove-exercise"> <i class="fa fa-close" aria-hidden="true"></i></button>
                                </div>

                            </div>
                            <div class="form-row btn-holder-calendar-training">
                                <div class="col form-group">
                                    <button type="button" class="btn  btn-block" id="clear" onclick="clear_input()">Изчисване на формата</button>
                                </div>
                                <div class="col form-group">
                                    <button type="button" class="btn btn-block" id="submit" disabled="disabled">Създаване на тренировка</button>
                                </div>
                            </div>

                    </div>

                </div>
            </div>

            <div id="viewTraining" class="tabcontent col-12">
                <div class="col-12 row " id="schedule">
                    {% for schedule in schedules %}
                      <div class="schedule-item mx-auto">
                          <div class="date-container ">
                              <div class="date"><h5 class="information">{{ schedule.date }}</h5></div>
                          </div>
                          <div class="col-12  training-information-container">
                              <div class="shoesType ">
                                  <h4>Вид бутонки: </h4>
                                  <h4 class="type">{{  schedule.training.shoesType.type}}</h4>
                              </div>
                              <div class="trainingType  ">
                                  <h4 >Вид тренировка: </h4>
                                  <h4 class=" type"> {{   schedule.training.trainingType.type }}</h4>
                              </div>
                              <hr>
                              <div class="date-time">
                                  <h3>Час на започване : <span class="time">{{ schedule.startTime }}</span></h3>
                                  <h3>Час на завършване : <span class="time">{{ schedule.endTime}}</span></h3>
                              </div>

                              {% for exercise in schedule.training.exercises %}
                                  <div class="exercise-container">
                                      <hr>
                                      <h4>{{ exercise.Name }} - {{ exercise.intensityType.type }}</h4>
                                      <h5>{{ exercise.description }}</h5>
                                  </div>
                              {% endfor %}
                          </div>
                      </div>
                        {% else %}
                        <div class="no-training-information">
                            <h5>Днеска нямате тренирвка или не е въведена информация за такава</h5>
                        </div>
                    {% endfor %}
                </div>
            </div>


        </div>
        <div class="col-6"></div>

    </div>

{#{{ form(form) }}#}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script src="{{ asset("js/calendar.js")}}"></script>
    <script src="{{ asset("js/particles/getTrainingByDate.js")}}"></script>

    <script>

      $(document).ready(function (){
          console.log("erw");
          var trainingType = null;
          var shoesType = null;


              $('#submit').on('click', function() {
                  var date = $("#date").val() ;
                  var startTime = $("#start_time").val();
                  var endTime = $("#end_time").val() ;
                  var exercisesNames = document.getElementsByClassName("ex-name");
                    for(let i = 0; i< exercisesNames.length; i++){
                      console.log(exercisesNames[i].val());
                    }



                  checkIfStartTimeIsLowerThanEndTime(startTime, endTime);
                  /*checkStartTime(startTime);
                  checkENdTime(endTime);*/
                  console.log( checkIfStartTimeIsLowerThanEndTime(startTime, endTime));
                  console.log( shoesType);
                  console.log(trainingType);
                 /* $.ajax({
                      type: "POST",
                      url: "/singUp",
                      data: {'appbundle_users[email]': email, 'appbundle_users[password]': pass, 'appbundle_users[name]': name, 'appbundle_users[fName]': fName, 'role': role}
                  })
                      .done(function( msg ) {
                          console.log(JSON.parse(msg));
                      });*/
              });



          $('.shoesType > .btn').on('click', function (){
              $('.shoesType > .btn').removeClass("active");
              $(this).addClass('active');
              var type = $(this).text();
              shoesType = type;
          });

          $('.trainingType > .btn').on('click', function (){
              $('.trainingType > .btn').removeClass("active");
              $(this).addClass('active');
              var type = $(this).text();
              trainingType = type;
              console.log(type)
          });

          function checkIfStartTimeIsLowerThanEndTime(startTime, endTime) {
              if (startTime < endTime){
                  return true;

              }
              return "Началната дата трябва да е по-малка ";
          }

      });

        $('.active').on('click', function() {
            var date = $('.date-input').val();
             var data =  getTrainingByDate(date).done(function(trainings){
                 $('.schedule-item').remove();



              for (let i = 0; i < trainings.length; i++){
                  $('#schedule').append(
                      "                 <div class='schedule-item mx-auto'>"+
                      "                       <div class=\"date-container \">\n" +
                      "                            <div class=\"date\"><h5 class=\"information\">"+ trainings[i]['date'] +"}</h5></div>\n" +
                      "                        </div>\n" +
                      "                        <div class=\"col-12  training-information-container\">\n" +
                      "                            <div class=\"shoesType \">\n" +
                      "                                <h4>Вид бутонки: </h4>\n" +
                      "                                <h4 class=\"type\"></h4>\n" +
                      "                            </div>\n" +
                      "                            <div class=\"trainingType  \">\n" +
                      "                                <h4 >Вид тренировка: </h4>\n" +
                      "                                <h4 class=\" type\"> </h4>\n" +
                      "                            </div>\n" +
                      "                            <hr>\n" +
                      "                            <div class=\"date-time\">\n" +
                      "                                <h3>Час на започване : <span class=\"time\">"+ trainings[i]['startTime'] +"</span></h3>\n" +
                      "                                <h3>Час на завършване : <span class=\"time\">"+ trainings[i]['endTime'] +"</span></h3>\n" +
                      "                            </div>\n" +
                      "                        </div>\n" +
                      "                     </div>"

                  )
              }
              if (trainings.length == 0){
                  $('#schedule').append(
                      "<div class=\"no-training-information\">\n" +
                      "    <h5>Днеска нямате тренирвка или не е въведена информация за такава</h5>\n" +
                      "</div>"
                  );

              }

            });




        });







      $('.fa-arrow-up').on('click', function (){
          if ( $(this).parentElement.parentElement.find('.ex-information-visible').length == 0) {
              $(this).parentElement.parentElement.find('.ex-information').addClass('ex-information-visible');
          }else{
              $(this).parentElement.parentElement.find('.ex-information').removeClass('ex-information-visible');
          }
          console.log($(this).find('.ex-information-visible'));

      });

      function removeExercise(param){
        param.parentElement.parentElement.remove();
      }

      function addExercise(name, description) {
          var exercise = createExercise(name, description);
          $(".exercises").append(exercise);
      }

      function createExercise(name, description) {
          return  " <div class=\"exercise\" href=\"#information\"  data-trigger=\"hover\" data-toggle=\"popover\" title=\"Слабо натоварване\" data-content=\"Движене на ръцете в кръг\"><h5 class='ex-name'>"+name+" <i class=\"fa fa-times\"  onclick=\"removeExercise(this)\" aria-hidden=\"true\"></i></h5>\n" +
              "     <div class=\"ex-information\" id=\"information\">\n" +
              "       <h5>"+description+"</h5>\n" +
              "       </div>\n" +
              "     </div>\n" ;
      }






    </script>


{% endblock %}

