{% extends 'coaches/base.html.twig' %}
{% block nav %}
    <a class="nav-item nav-link  ml-2" href="{{ path('coacheViewAction') }}">Начална страница</a>
    <a class="nav-item nav-link current-item ml-2" href="{{ path("trainingView") }}">Тренировки</a>
{% endblock %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="  {{ asset("css/particles/hiddenFormStyle.css") }}">
    <link rel="stylesheet" href="{{ asset("css/particles/searchEngine.css") }}">
    <link rel="stylesheet" href="  {{ asset("css/coach/trainingPageStyle.css  ") }}">
    <link rel="stylesheet" href="  {{ asset("css/particles/searchResultsTable.css") }}">
{#    <link rel="stylesheet" href="  {{ asset("css/coach/particles/teamPlayerCard.css") }}">#}
{% endblock %}
{% block navLinks %}
    <a class="ml-2 na navbar-link " href="{{ path("trainingView") }}">Начална страница</a>
    <a class="ml-2 na navbar-link current-item" href="{{ path("trainingView") }}">Отбор</a>
    <a class="ml-2 na navbar-link" href="{{ path("trainingCalendarActionView") }}">Тренировъчен план</a>
    <a class="ml-2 na navbar-link" href="{{ path("coachMatches") }}">Мачове</a>
    <a class="ml-2 na navbar-link" href="{{ path("allRequestsView") }}">Заявки</a>
{% endblock %}
{% block body %}
    <img src="{{ asset("images/" ~ coachTeamImage) }}" class="mx-auto team-image mt-3" alt="">
    <h2 class="text-center mt-1">{{ coachTeamName }}</h2>
    <div id="container">
        <div class="row mt-1 justify-content-center col-12">
            <div class="col-lg-11 col-md-7 col-sm-11 col-10 p-0 m-0 coach-player-adding-container justify-content-center row pb-3">
                <div class="col-12 mb-1 mt-2">
                    <h4 class="col-12 text-center">Вратари</h4>
                </div>
                <div class="col-12 row players-row m-0 p-0 justify-content-center">
                    {% set foo = 1 %}
                    {% for player in players %}
                        {% if player.Position == "Goalkeeper" %}
                            <div class="col-lg-3 col-sm-12 col-md-12 mt-4 justify-content-center row mb-sm-2 p-0">
                                <div class="col-11 player-container " id="player-{{  foo }} ">
                                    <a href="{{ path("playerStatsView", {id: player.id}) }}">
                                        {%   if  player.Status == 0 %}
                                            <div class="status-green"></div>
                                        {% else %}
                                            <div class="status-red"></div>
                                        {%  endif %}

                                        {% if player.Image == null or player.Image == ' ' %}
                                            <img src="{{asset('images/user-image.png')}}" alt="" class="player-img">
                                        {% else %}
                                            <img src="{{asset('images/'~ player.Image )}}" alt="" class="player-img">
                                        {% endif %}

                                        <p class="player-name">{{ player.User.Name }} {{ player.User.FName }} </p>
                                    </a>
                                </div>
                            </div>

                        {% endif %}
                        {% set foo = foo + 1 %}
                    {% endfor %}
                </div>
                <hr class="col-9 mt-4 mx-auto">
                <div class="col-12 mt-3 mb-1">
                    <h4  class="col-12 text-center">Защитници</h4>
                </div>
                <div class="col-12 row players-row m-0 p-0 justify-content-center">
                    {% set foo = 1 %}
                    {% for player in players %}
                        {% if player.Position == "Defender" %}

                        <div class="col-lg-3 col-sm-12 col-md-12 mt-4 justify-content-center row mb-sm-2">
                            <div class="col-12 player-container " id="player-{{  foo }} ">
                                <a href="{{ path("playerStatsView", {id: player.id}) }}">
                                    {%   if  player.Status == 0 %}
                                        <div class="status-green"></div>
                                    {% else %}
                                        <div class="status-red"></div>
                                    {%  endif %}

                                    {% if player.Image == null or player.Image == ' ' %}
                                        <img src="{{asset('images/user-image.png')}}" alt="" class="player-img">
                                    {% else %}
                                        <img src="{{asset('images/'~ player.Image )}}" alt="" class="player-img">
                                    {% endif %}

                                    <p class="player-name">{{ player.User.Name }} {{ player.User.FName }} </p>
                                </a>
                            </div>
                        </div>

                        {% endif %}
                        {% set foo = foo + 1 %}
                    {% endfor %}
                </div>
                <hr class="col-9 mt-4 mx-auto">
                <div class="col-12 mt-3 mb-1">
                    <h4 class="col-12 text-center ">Халфове</h4>
                </div>
                <div class="col-12 row players-row m-0 p-0 justify-content-center">
                    {% set foo = 1 %}
                    {% for player in players %}
                        {% if player.Position == "Midfielder" %}
                            <div class="col-lg-3 col-sm-12 col-md-12 mt-4 justify-content-center row mb-sm-2">
                                <div class="col-12 player-container " id="player-{{  foo }} ">
                                    <a href="{{ path("playerStatsView", {id: player.id}) }}">
                                        {%   if  player.Status == 0 %}
                                            <div class="status-green"></div>
                                        {% else %}
                                            <div class="status-red"></div>
                                        {%  endif %}

                                        {% if player.Image == null or player.Image == ' ' %}
                                            <img src="{{asset('images/user-image.png')}}" alt="" class="player-img">
                                        {% else %}
                                            <img src="{{asset('images/'~ player.Image )}}" alt="" class="player-img">
                                        {% endif %}

                                        <p class="player-name">{{ player.User.Name }} {{ player.User.FName }} </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        {% set foo = foo + 1 %}
                    {% endfor %}
                </div>
                <hr class="col-9 mt-4 mx-auto">
                <div class="col-12 mt-3 mb-1">
                    <h4 class="col-12 text-center">Нападатели</h4>
                </div>
                <div class="col-12 row players-row m-0 p-0 justify-content-center">
                    {% set foo = 1 %}
                    {% for player in players %}
                        {% if player.Position == "Attacker" %}
                            <div class="col-lg-3 col-sm-12 mt-4 col-md-12 justify-content-center row mb-sm-2">
                                <div class="col-12 player-container " id="player-{{  foo }} ">
                                    <a href="{{ path("playerStats", {id: player.id}) }}">
                                        {%   if  player.Status == 0 %}
                                            <div class="status-green"></div>
                                        {% else %}
                                            <div class="status-red"></div>
                                        {%  endif %}

                                        {% if player.Image == null or player.Image == ' ' %}
                                            <img src="{{asset('images/user-image.png')}}" alt="" class="player-img">
                                        {% else %}
                                            <img src="{{asset('images/'~ player.Image )}}" alt="" class="player-img">
                                        {% endif %}

                                        <p class="player-name">{{ player.User.Name }} {{ player.User.FName }} </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        {% set foo = foo + 1 %}
                    {% endfor %}
                </div>
                <div class="add-team-circle-container  row " id="add-player-container">
                    <div class="add-team-circle" id="player- ">
                        <img src="{{ asset('images/plus .png') }}" alt="" class="add-team " >

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="player-status-container row justify-content-center ">
        <div class="col-9  player-status-div   justify-content-center" id="add-player" >
            <div class="container col-12 row justify-content-center search-container-holder">
                <h2 class="text-center col-12 mt-3 mb-2">Добавяне на играч</h2>
                <div class="search-container mt-3  justify-content-center">
                    <div class="search-box full-sized-search-box">
                        <input type="text" placeholder="Ивайло Колев" class="search-text" id="search">
                        <button  class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container col-12 p-0 mx-auto row">
                <div class="playerSearchResult col-12 p-0  ">
                </div>
            </div>
            <span><i class="fas fa-times-circle"></i></span>
        </div>
    </div>
    <script type="text/javascript" src="{{  asset("mdb/js/jquery-3.3.1.min.js")}}"></script>
    <script type="text/javascript" src="{{  asset("js/coach/searchPlayers.js")}}"></script>
    <script type="text/javascript" src="{{  asset("js/coach/sendRequestToPlayer.js")}}"></script>

    <script>
       function Click (value) {



           $.ajax({
               method: "POST",
               data: {"playerInfo": value},
               url: "sendPlayerRequest/"+value,
           })
               .done(function (data) {
                   console.log(data)
                    if (data == 2){
                        iziToast.show({
                            id: null,
                            class: '',
                            title: 'Вече сте изпратили заявка към този играч ',
                            titleColor: 'red',
                            titleSize: '15',
                            titleLineHeight: '',
                            message: 'sadasdasdsads',
                            messageColor: 'green',
                            messageSize: '10',
                            messageLineHeight: '',
                            backgroundColor: 'red',
                            theme: 'light', // dark
                            color: '', // blue, red, green, yellow

                        });
                    }

               });
               };

    </script>

{#    <script>#}
{#        // $('.phone').inputmask('Regex', {#}
{#        //     regex: "08([7-9])([0-9]{7})+",#}
{#        //     alias: "string",#}
{#        //     clearIncomplete: true#}
{#        // });#}
{#        // $(".name").inputmask("Regex", {#}
{#        //     regex:'[А-Я][а-я]+' ,#}
{#        //     alias: "string",#}
{#        //     clearIncomplete: true#}
{#        // });#}
{#        // $(".fName").inputmask("Regex", {#}
{#        //     regex:'[А-Я][а-я]+' ,#}
{#        //     alias: "string",#}
{#        //     clearIncomplete: true#}
{#        // });#}


{#        $('#search').on('keyup', function () {#}
{#            var playerInfo = document.getElementById('search').value;#}
{#            console.log(playerInfo);#}
{#            $.ajax({#}
{#                method: "POST",#}
{#                data: {"playerInfo": playerInfo},#}
{#                url: "{{ path('trainingAction') }}",#}
{#            })#}
{#                .done(function( players ) {#}
{#                    for (var i = 0; i < players.length; i++){#}

{#                        var imagePath = players[i][0]['player']['img'];#}

{#                        if(imagePath == null){#}
{#                            imagePath = "user-image.png";#}
{#                        }#}


{#                        $('.player').remove();#}
{#                        $('.player-search-results').append#}
{#                        ("<div class=\"col-lg-4 col-sm-12 ml-2 col-md-12 justify-content-center row mb-sm-2 player \">" +#}
{#                            "<div class='col-12 player-container player' id=player-1 >"+#}
{#                                "<a>"+#}
{#                                    "<img src='../images/"+ imagePath + "' alt='' class=player-img>"+#}
{#                                    "<p class=player-name>"+ players[i][0]['name']+"</p>"+#}
{#                                "</a>"+#}
{#                            "</div>"+#}
{#                            "</div>")#}
{#                    }#}
{#                });#}
{#        });#}

    <script type="text/javascript" src="{{ asset("js/hidingDiv.js") }}"></script>
{% endblock %}