{% extends 'player/playerBaseTemplate.html.twig' %}
    {% block style %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="{{ asset("css/playerStyle.css") }}" rel="stylesheet">
        <link href="{{ asset("css/settingsStyle.css") }}" rel="stylesheet">
        <link href="{{ asset("css/coachStyle.css") }}" rel="stylesheet">
        <link href="{{ asset("mdb/css/mdb.min.css") }}" rel="stylesheet">
        <link href="{{ asset("css/particles/hiddenDiv.css") }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset("css/playerVisitCard.css") }}">
        <link rel="stylesheet" href="{{ asset("css/coach/playerStatPageStyle.css") }}">
        <link href="{{ asset("css/settingPageStyle.css") }}" rel="stylesheet">
        <link href="{{ asset("css/particles/hiddenDiv.css") }}" rel="stylesheet">
        <script type="text/javascript" src="{{ asset("mdb/js/mdb.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("mdb/js/bootstrap.min.js") }}"></script>
    {% endblock %}
    {% block body%}
        <div class="col-10 mb-5 mt-3 mx-auto p-0 m-0">
            <div class="cover-photo-container">
                <img src="{{ asset("images/"~player.Team.CoverImage) }}" alt="" class="cover-photo">
            </div>
            <div class="profile-image-container">
                <img src="{{asset("images/" ~ image)}}" alt="" class="profile-image m-2">
                <div class="name-holder">
                    <h4 class="text-center"> {{ player.User.Name }} {{ player.User.FName }}</h4>
                    <h6 class="text-center">{{ player.Position.Name }}</h6>
                </div>
                <div class="edit-button-holder">
                    <button class=" edit-settings" id="edit-settings"><i class="fas fa-pen edit-settings"></i></button>
                </div>
            </div>

            <div class="container col-12 m-0 justify-content-between p-0 row">
                <div class="col-5 m-0 p-0">
                    <div class="col-11 m-0  mt-2 information-holder p-4 ">
                        <div class="col-12 m-0 row p-0   text-center "><h4 class="text-center my-auto mx-auto">Информация за играча</h4></div>
                        <hr class="col-8 mx-auto">
                        <div class="col-12 row p-0 mt-3 ml-1"><h5  class="my-auto">Килограми: {{ playerStats.Weight }}</h5></div>
                        <div class="col-12 row p-0 mt-3 ml-1"><h5  class="my-auto">Височина: {{ playerStats.Height }}</h5></div>
                        <div class="col-12 row p-0 mt-3 ml-1"><h5  class="my-auto"> Град на раждане: {{ player.User.City }}</h5></div>
                        <div class="col-12 row p-0 mt-3 ml-1">
                            <h5 class="my-auto">Националност: {{ player.User.City.Country.Name }}</h5>
                            <img src="{{ asset("images/"~player.User.City.Country.Image ) }}" alt="">
                        </div>
                        <div class="col-12 row p-0 mt-3  ml-1"><h5  class="my-auto">Телефонене номер: {{ player.User.Phone }}</h5></div>
                        <div class="col-12 row p-0 mt-3 ml-1"><h5  class="my-auto">Емейл: {{ player.User.Email }}</h5></div>
                    </div>
                </div>
                <div class="col-7 m-0 mt-2  information-holder p-4 ">
                    <div class="season-player-stats col-12 m-0 p-0  my-ayto  text-center row">
                        <h4 class="col-12 text-center">Статистика за сезона</h4>
                        <div class="col-lg-4 my-auto col-md-12 col-sm-12 text-center  align-content-center chart-container ">
                            <div class="information-container p-0 m-0 ">
                                <p>14</p>
                            </div>
                            <div class="fat-percent-div">
                                <h3>
                                    <span class="label green badge fat-percent-badge">Вкарани голове</span>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-4 my-auto col-sm-12 col-md-12 mt-2 text-center chart-container">
                            <div class="information-container">
                                <p>5</p>
                            </div>
                            <h3>
                                <span class="label green badge ">Асистенции</span>
                            </h3>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center  chart-container">
                            <div class="information-container">
                                <p>25</p>
                            </div>
                            <div class="fat-percent-div">
                                <h3>
                                    <span class="green badge fat-percent-badge  label">Изиграни мача</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden-container">
            <div class="col-12 justify-content-center row hidden-div">
                <div class="text-center information-div">
                    {% if image == '0'%}
                        <i class="fas fa-user"></i>
                    {% else %}

                    {% endif %}
{#                    first form#}
                    {{ form_start(playerForm) }}
                        <label for="form_image " class="">   <img src="{{asset("images/" ~ image)}}" alt="" class="profile_pic img img-responsive full-width"></label>
                        {{ form_widget(playerForm.image, {'attr' : {'class' : 'inputfile', 'id' : 'uploadImage'}})  }}
                    {{ form_end(playerForm) }}

{#                    second form#}
                    {{ form_start(formStats) }}
                        <label for="player_stats_height form-group" class="">Височина</label>
                        {{ form_widget(formStats.height, {'attr' : {'class' : 'input form-group', 'id' : 'player_stats_height', 'value': playerStats.Height}})  }}
                        <br>
                        <label for="player_stats_weight" class="">Тегло</label>
                        {{ form_widget(formStats.weight, {'attr' : {'class' : 'input form-group', 'id' : 'player_stats_weight', 'value': playerStats.Weight}})  }}
                    {{ form_end(formStats) }}

                    {{ form_start(playerInfoForm) }}

                        <label for="player_stats_phone form-group" class="">Telfon</label>
{#                        {{ form_widget(playerInfoForm.phone {'attr' : {'class' : 'input ', 'id' : 'player_stats_phone', 'value' : player.User.Phone}})  }}#}
                    {{ form_widget(playerInfoForm.phone, {'attr' : {'class' : 'input form-group ', 'id' : 'player_stats_phone', 'value': player.User.Phone}})  }}

                    {{ form_end(playerInfoForm) }}
                    <div class="col-12 justify-content-center text-center">
                        <button class="btn btn-secondary">
                            Потвърдете
                        </button>
                    </div>
                    <span><i class="fas fa-times-circle" ></i></span>
                </div>
            </div>
        </div>
        <script src="{{ asset('js/coach/settingsHiddenDiv.js') }}"></script>

    {% endblock %}