{% extends 'player/playerBaseTemplate.html.twig' %}
    {% block style %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="{{ asset("css/playerStyle.css") }}" rel="stylesheet">
        <link href="{{ asset("css/settingsStyle.css") }}" rel="stylesheet">
        <link href="{{ asset("css/coachStyle.css") }}" rel="stylesheet">
        <link href="{{ asset("mdb/css/mdb.min.css") }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset("css/playerVisitCard.css") }}">
        <link rel="stylesheet" href="{{ asset("css/coach/playerStatPageStyle.css") }}">
        <link href="{{ asset("css/settingPageStyle.css") }}" rel="stylesheet">
        <script type="text/javascript" src="{{ asset("mdb/js/mdb.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("mdb/js/bootstrap.min.js") }}"></script>
    {% endblock %}
    {% block body%}
        <div class="col-10 mb-5 mt-3 mx-auto p-0 m-0">
            <div class="cover-photo-container">
                <img src="{{ asset("images/"~player.Team.CoverImage) }}" alt="" class="cover-photo">
            </div>
            <div class="profile-image-container">
                <img src="{{asset("images/" ~ image)}}" alt="" class="profile-image m-2">
                <div class="name-holder">
                    <h4 class="text-center"> {{ player.User.Name }} {{ player.User.FName }}</h4>
                    <h6 class="text-center">{{ player.Position.Name }}</h6>
                </div>
                <div class="edit-button-holder">
                    <button class=" edit-settings" id="edit-settings"><i class="fas fa-pen edit-settings"></i></button>
                </div>
            </div>

            <div class="container col-12 m-0 justify-content-between p-0 row">
                <div class="col-5 m-0 p-0">
                    <div class="col-11 m-0  mt-2 information-holder p-4 ">
                        <div class="col-12 m-0 row p-0   text-center "><h4 class="text-center my-auto mx-auto">Информация за играча</h4></div>
                        <hr class="col-8 mx-auto">
                        <div class="col-12 row p-0 mt-3 ml-1"><h5  class="my-auto">Килограми: {{ playerStats.Weight }}</h5></div>
                        <div class="col-12 row p-0 mt-3 ml-1"><h5  class="my-auto">Височина: {{ playerStats.Height }}</h5></div>
                        <div class="col-12 row p-0 mt-3 ml-1"><h5  class="my-auto"> Град на раждане: {{ player.User.City }}</h5></div>
                        <div class="col-12 row p-0 mt-3 ml-1">
                            <h5 class="my-auto">Националност: {{ player.User.City.Country.Name }}</h5>
                            <img src="{{ asset("images/"~player.User.City.Country.Image ) }}" alt="">
                        </div>
                        <div class="col-12 row p-0 mt-3  ml-1"><h5  class="my-auto">Телефонене номер: {{ player.User.Phone }}</h5></div>
                        <div class="col-12 row p-0 mt-3 ml-1"><h5  class="my-auto">Емейл: {{ player.User.Email }}</h5></div>
                    </div>
                </div>
                <div class="col-7 m-0 mt-2  information-holder p-4 ">
                    <div class="season-player-stats col-12 m-0 p-0  my-ayto  text-center row">
                        <h4 class="col-12 text-center">Статистика за сезона</h4>
                        <div class="col-lg-4 my-auto col-md-12 col-sm-12 text-center  align-content-center chart-container ">
                            <div class="information-container p-0 m-0 ">
                                <p>14</p>
                            </div>
                            <div class="fat-percent-div">
                                <h3>
                                    <span class="label green badge fat-percent-badge">Вкарани голове</span>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-4 my-auto col-sm-12 col-md-12 mt-2 text-center chart-container">
                            <div class="information-container">
                                <p>5</p>
                            </div>
                            <h3>
                                <span class="label green badge ">Асистенции</span>
                            </h3>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 text-center align-content-center  chart-container">
                            <div class="information-container">
                                <p>25</p>
                            </div>
                            <div class="fat-percent-div">
                                <h3>
                                    <span class="green badge fat-percent-badge  label">Изиграни мача</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#        <div class=" justify-content-center row mt-4 mb-5">#}
{#            <div class="col-12 justify-content-center text-center row ">#}
{#                <div class="text-center information-div row">#}
{#                    <div class="update-information-icon-holder">#}
{#                        <i class="fas fa-pen update-information-icon"></i>#}
{#                    </div>#}
{#                    <div class="col-12 row player-visit-container">#}
{#                       <div class="col-lg-4 col-sm-12 col-12 p-1 ">#}
{#                           {% if image == '0' or image == null  %}#}
{#                               <label for="form_image" class="">    <img src="{{asset("images/user1.png")}}" alt="" class="profile-pic-changer m-2"></label>#}

{#                           {% else %}#}
{#                               <label for="form_image" class=""><img src="{{asset("images/" ~ image)}}" alt="" class="profile-pic-changer m-2"></label>#}
{#                           {% endif %}#}
{#                           <input type="file" id="form_image">#}
{#                           {{ form_widget(form.image, {'attr' : {'class' : 'inputfile', 'id' : 'uploadImage'}})  }}#}
{#                           {{ form_row(form.save, {'attr' : {'class':'btn'}} ) }}#}
{#                           <h4> {{ playerName }}</h4>#}
{#                           <h6>{{ player.Position.Name }}</h6>#}

{#                       </div>#}
{#                       <div class=" col-lg-8 col-sm-12 col-12 mx-auto text-center  justify-content-center">#}
{#                           <div class="visiting-player-card-text-holder col-12">#}
{#                               <h3 class=" justify-content-center row">Визитна карта </h3>#}
{#                           </div>#}
{#                           <div class="col-12 justify-content-center text-center row 0">#}
{#                               <div class="col-lg-12 col-sm-4 col-md-6  mt-4 row">#}
{#                                   <div class="col-lg-6 col-sm-4 col-md-6   text-left align-top">#}
{#                                       {% if player.Team == null%}#}
{#                                           <h5>Отбор: Няма</h5>#}
{#                                       {% else %}#}
{#                                           <h5>Отбор: {{ player.Team.Name }}</h5>#}
{#                                       {% endif %}#}
{#                                   </div>#}
{#                                   <div class="col-lg-6 col-sm-4 col-md-6 text-left align-top">#}
{#                                           <h5>Отбелязани голове: 0</h5>#}
{#                                   </div>#}
{#                               </div>#}
{#                               <div class="col-lg-12 col-sm-4 col-md-6  mt-4 row">#}
{#                                   <div class="col-lg-6 col-sm-4 col-md-6   text-left align-top">#}
{#                                       {% if team == null or team.Division == null%}#}
{#                                           <h5>Първенство: Няма</h5>#}
{#                                       {% else %}#}
{#                                           <h5>Първенство: {{ team.Division.Name }}</h5>#}
{#                                       {% endif %}#}
{#                                   </div>#}
{#                                   <div class="col-lg-6 col-sm-4 col-md-6 text-left align-top">#}
{#                                           <h5>Асистенции: 0</h5>#}
{#                                   </div>#}
{#                               </div>#}
{#                               <div class="col-lg-12 col-sm-4 col-md-6  mt-4 row">#}
{#                                   <div class="col-lg-6 col-sm-4 col-md-6   text-left align-top">#}
{#                                       {% if player.User.City.Country == null%}#}
{#                                           <h5>Националност: Не е зададен</h5>#}
{#                                       {% else %}#}
{#                                           <h5>Националност: {{ player.User.City.Country.Name }}</h5>#}
{#                                       {% endif %}#}
{#                                   </div>#}
{#                                   <div class="col-lg-6 col-sm-4 col-md-6 text-left align-top">#}
{#                                           <h5>Изиграни мачове: 0</h5>#}
{#                                   </div>#}
{#                               </div>#}
{#                               <div class="col-lg-12 col-sm-4 col-md-6  mt-4 row">#}
{#                                   <div class="col-lg-6 col-sm-4 col-md-6   text-left align-top">#}
{#                                       {% if player.BirthDay == null%}#}
{#                                           <h5>Ден на раждане: Не е зададен</h5>#}
{#                                       {% else %}#}
{#                                           <h5>Ден на раждане: {{ player.BirthDay |date("d.m.Y")|join }}</h5>#}
{#                                       {% endif %}#}

{#                                   </div>#}
{#                                   <div class="col-lg-6 col-sm-4 col-md-6 text-left align-top">#}
{#                                           <h5>Отбелязани голове: 0</h5>#}
{#                                   </div>#}
{#                               </div>#}
{#                           </div>#}
{#                       </div>#}
{#                    </div>#}
{#                    {{ form_widget(formPlayer.image, {'attr' : {'class' : 'inputfile', 'id' : 'uploadImage'}})  }}#}
{#                    {{ form_row(formPlayer.save, {'attr' : {'class':'btn'}} ) }}#}
{#                </div>#}
    {% endblock %}