{% extends 'superAdmin/base.html.twig' %}
{% block style %}
{#    <link rel="stylesheet" href="  {{ asset("css/admin/topPlayerCard.css") }}">#}
    <link rel="stylesheet" href="  {{ asset("css/superAdmin/matchPageStyle.css") }}">
{% endblock %}
{% block body %}
    <div class="container m-0 p-0    col-12 row">
        <div class=" col-12 p-0 m-0 text-center ">
            <input type="checkbox" class="mt-5" class="checkbox">
        </div>
        <div class="col-12 row p-0 m-0 justify-content-around">
            <div class="match-info-holder col-11 row mt-3  mx-auto  justify-content-center p-0">
                <div class="homeTeam-info-holder col-5 p-0 m-0 text-center justify-content-center ">
                    <img src="{{ asset("images/" ~ match.homeTeam.Image) }}" class="mx-auto" alt="">
                    <h3>{{ match.homeTeam.Name }}</h3>
                    <div class="col-6 m-0 p-0 justify-content-center mx-auto">
                        {% for matchList in match.MatchList %}
                            {% if matchList.Player.Team.Name == match.HomeTeam.Name %}
                                <p class="adding-match " id="{{ matchList.Player.Id }}">{{ matchList.Player.User.Name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="awayTeam-info-holder col-5 p-0 m-0 text-center">
                    <img src="{{ asset("images/" ~ match.awayTeam.Image) }}" class="mx-auto" alt="">
                    <h3>{{ match.awayTeam.Name }}</h3>
                    <div class="col-6">
                        {% for matchList in match.MatchList %}
                            {% if matchList.Player.Team.Name == match.AwayTeam.Name %}
                                <p>{{ matchList.Player.User.Name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for matchList in match.MatchList %}
        <div class="player-status-container row justify-content-center align-items-center" id="player-{{ matchList.Player.Id }}">
            <div class="col-lg-9 col-sm-10 player-status-div player-{{ matchList.Player.Id }} row align-items-center justify-content-center" id="add-player" >
                <div class="col-lg-9 col-sm-11 row justify-content-around">
                    <h2 class="mb-5 col-12 text-center justify-content-center">{{ matchList.Player.User.Name }}</h2>


                    <span><i class="fas fa-times-circle"></i></span>
                </div>
            </div>
        </div>
    {% endfor %}

    <script>

        $('.adding-match').on('click', function () {
            let playerId = $(this).attr('id');
            console.log(playerId);
            let container = '#player-' + playerId;
            let child = '.player-' + playerId;
            $(container).css('visibility', 'visible')
                .css('height', '100vh')
                .css('top', '0%')
                .css('transition', 'ease 0.7s');
            $(child)
                .css('visibility', 'visible')
                .css('transition', ' ease 0.6s')
                .css('top', '50%')
                .css('transform', ' translate(-50%, -50%)');

            $('#treatment_info').css('visibility', 'visible');

            $('.fa-times-circle').on('click', function () {
                $(child)
                    .css('top', '-50%')
                    .css('transform', ' translate(-50%, -100%)')
                    .css('transition', 'ease 1s');

                $(container).css('visibility', 'hidden')
                    .css('height', '0vh')
                    .css('top', '-50%')
                    .css('transition', 'ease 1.1s');
            });
        });




    </script>


{% endblock %}