{% extends 'superAdmin/base.html.twig' %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="  {{ asset("css/superAdmin/createDivision/style.css") }}    ">
{% endblock %}
{% block body %}
{#    <div class="col-12 row justify-content-center m-0">#}
{#        <div class="col-11 row  justify-content-center ">#}
{#            {% for country in countries %}#}
{#                <div class="col-lg-4 col-sm-11 row m-0 justify-content-around ">#}
{#                    <div class="col-lg-12  col-sm-9 col-md-6 country-container text-center mt-3 mx-auto">#}
{#                        <a href="{{ path("superAdminDivisions", {id: country.Id}) }}">#}
{#                            <img src="{{asset("images/" ~ country.Image)}}" alt="" class="country-img mt-2">#}
{#                            <h1 class="country-text mt-1  align-bottom color-black text-left mb-2">{{ country.name }}</h1>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#    <div class="add-country-circle-container  row " id="add-player-container">#}
{#        <div class="add-country-circle" id="player- ">#}
{#            <img src="{{ asset('images/plus .png') }}" alt="" class="add-country " >#}

{#        </div>#}
{#    </div>#}

    <div class="text-center mb-2"> <h2>Create new tournament or competition</h2></div>

    <div class="container">

        <div class="tournametn-name">
            <div class="input-group mb-3">
                <label for="inputEmail">Name</label>
                <input type="email" placeholder="Tournament or competition name" name="email" id="inputEmail" class=" effect-2" required autofocus>
                <span class="focus-border"></span>
            </div>



        </div>
        <div class="input-group mb-3">
            <label for="inputEmail" class="col-12 text-left p-0 m-0 pb-2"> </label>
            <select name="country" id="country" class="col-12 form-control">
                <option >Choose type</option>
                <option >Tournament</option>
                <option >Competition</option>
            </select>
            <span class="focus-border"></span>
        </div>


        <div class="row">
            <div class="input-group mb-3 col-6">
                <label for="inputEmail">Start Date</label>
                <input type="date"  placeholder="ivan123@gmail.com" name="email" id="inputEmail" class=" effect-2" required autofocus>
                <span class="focus-border"></span>
            </div>
            <div class="input-group mb-3 col-6">
                <label for="inputEmail">End Date</label>
                <input type="date" placeholder="ivan123@gmail.com" name="email" id="inputEmail" class=" effect-2" required autofocus>
                <span class="focus-border"></span>
            </div>
        </div>

        <div class="input-group mb-3">
            <label for="inputEmail" class="col-12 text-left p-0 m-0 pb-2">Country</label>
            <select name="country" id="country" class="col-12 form-control">
                <option ></option>
                <option >International</option>
                <option >Some Countries</option>
            </select>
            <span class="focus-border"></span>
        </div>
    </div>


    <div class="groups row col-12 mx-auto  m-0 p-0 ">
      <div class="col-11 mx-auto row">
         <div class="col-6  ">
             <div class="group col-11 ">
                 <div class="group-name">
                     <input type="text"  placeholder="Group Name" name="email" id="inputEmail" class=" effect-2" required autofocus>
                 </div>
                 <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
                 <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
                 <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
                 <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
             </div>
         </div>
          <div class="col-6 ">
              <div class="group col-11">
                  <div class="group-name">
                      <input type="text"  placeholder="Group Name" name="email" id="inputEmail" class=" effect-2" required autofocus>
                  </div>
                  <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
                  <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
                  <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
                  <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
              </div>
          </div>
         <div class="col-6 ">
             <div class="group  col-11">
                 <div class="no-visible">
                     <div class="group-name">
                         <input type="text"  placeholder="Group Name" name="email" id="inputEmail" class=" effect-2" required autofocus>
                     </div>
                     <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
                     <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
                     <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p><i class="fas fa-plus"></i></div>
                     <div class="team"><i class="fas fa-futbol"></i><p>  Team 1</p> <i class="fas fa-plus"></i></div>
                 </div>
                 <div class="add-new-group-container text-center">
                     <p>Add new group</p>
                     <div>
                         <i class="fas fa-plus"></i>
                     </div>
                 </div>
             </div>

         </div>
      </div>
    </div>


    <div class="team-standing">


    </div>

    <div></div>


{% endblock %}