{% extends 'coaches/base.html.twig' %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/particles/matchCard.css') }}">
    <link rel="stylesheet" href="{{ asset('css/particles/fut-player-card.css') }}">
    <link rel="stylesheet" href="  {{ asset("css/superAdmin/matchPageStyle.css") }}">
    <link rel="stylesheet" href="  {{ asset("css/player/pastMatchStyle.css") }}">
{% endblock %}
{% block body %}
    <div class="col-12 col-lg-12 p-0 mt-4 row justify-content-center mx-auto max-resolution">
        <div class="col-lg-11 col-md-7 p-0 col-sm-11 col-10 justify-content-center  row pb-3">
            <div class="container col-12 p-0 m-0">
                <div class="col-12 match-date-time justify-content-center text-center mt-2 mb-1">
                    <h5 class="information">Дата на мача: {{ match.date }} {{ match.time }}</h5>
                </div>
            </div>
            <div class="container m-0 p-0    col-12 row">
                <div class="col-12 row p-0 m-0 justify-content-center">
                    <div class="match-info-holder col-11 row mt-3  mx-auto  justify-content-center p-0">
                        <div class="homeTeam-info-holder col-5 p-0 m-0 text-center justify-content-center ">
                            <img src="{{ asset("images/" ~ match.homeTeam.Image) }}" class="mx-auto" alt="">
                            <h3>{{ match.homeTeam.Name }}</h3>
                            <h2>{{ match.MatchStats.HomeTeamGoals }}</h2>

                        </div>
                        <div class="col-1  m-0 p-0 row mx-auto">
                            <h3 class="mx-auto col-12 my-auto">-</h3>
                        </div>
                        <div class="awayTeam-info-holder col-5 p-0 m-0 text-center">
                            <img src="{{ asset("images/" ~ match.awayTeam.Image) }}" class="mx-auto" alt="">
                            <h3>{{ match.awayTeam.Name }}</h3>
                            <h2>{{ match.MatchStats.AwayTeamGoals }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="col-10">

    <div class="col-11 container">
        <div class="playerImgHolder col-12 justify-content-center row"><img src="{{ asset("images/"~ matchRecord.player.image) }}" alt=""></div>
        <div class="col-12 mb-3 row justify-content-center">
            {% if matchRecord.IsStarting == 1 %}
                <div class="fat-percent-div">
                    <h3>
                        <span class="label btn-dark-green badge fat-percent-badge">Започнал като титуляр</span>
                    </h3>
                </div>

            {% endif %}
            {% if matchRecord.IsStarting == 0 and matchRecord.IsPlayed == 1%}
                <div class="fat-percent-div">
                    <h3>
                        <span class="label yellow badge fat-percent-badge">Започнал като резерва </span>
                    </h3>
                </div>

            {% endif %}
            {% if matchRecord.IsStarting == 0 and matchRecord.IsPlayed == 0%}
                <div class="fat-percent-div">
                    <h3>
                        <span class="label danger badge fat-percent-badge">Не е започнал мача </span>
                    </h3>
                </div>

            {% endif %}

        </div>
        <div class="col-12 row ">
            <div class="col-lg-4 my-auto col-md-12 col-sm-12 text-center  align-content-center chart-container ">
                <div class="information-container p-0 m-0 ">
                    <p>{{ matchRecord.endTime - matchRecord.startTime }}</p>
                </div>
                <div class="fat-percent-div">
                    <h3>
                        <span class="label green badge fat-percent-badge">Изиграно време</span>
                    </h3>
                </div>
            </div>

            {% if matchRecord.player.Position == "Goalkeeper" %}
                <div class="col-lg-4 my-auto col-md-12 col-sm-12 text-center  align-content-center chart-container ">
                    <div class="information-container p-0 m-0 ">
                        <p>{{ matchRecord.goals }}</p>
                    </div>
                    <div class="fat-percent-div">
                        <h3>
                            <span class="label green badge fat-percent-badge">Вкарани голове</span>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 my-auto col-md-12 col-sm-12 text-center  align-content-center chart-container ">
                    <div class="information-container p-0 m-0 ">
                        <p>{{ matchRecord.saves }}</p>
                    </div>
                    <div class="fat-percent-div">
                        <h3>
                            <span class="label green badge fat-percent-badge">Спасения</span>
                        </h3>
                    </div>
                </div>

                {% else %}
                    <div class="col-lg-4 my-auto col-md-12 col-sm-12 text-center  align-content-center chart-container ">
                        <div class="information-container p-0 m-0 ">
                            <p>{{ matchRecord.goals }}</p>
                        </div>
                        <div class="fat-percent-div">
                            <h3>
                                <span class="label green badge fat-percent-badge">Вкарани голове</span>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-4 my-auto col-md-12 col-sm-12 text-center  align-content-center chart-container ">
                        <div class="information-container p-0 m-0 ">
                            <p>{{ matchRecord.assists }}</p>
                        </div>
                        <div class="fat-percent-div">
                            <h3>
                                <span class="label green badge fat-percent-badge">Асистенции</span>
                            </h3>
                        </div>
                    </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
